### Simulink service###

[Unit]
Description=Simulink service
DefaultDependencies=no

[Service]
CPUAffinity=3
ExecStart=/usr/bin/gocontroll_demo
Type=simple

[Install]
WantedBy=sysinit.target
