#!/usr/bin/make -f

%:
	dh $@
	dh_installsystemd --name=cage@ cage@.service
	dh_installsystemd --name=gocontroll_demo gocontroll_demo.service


override_dh_auto_clean:


override_dh_auto_configure:


override_dh_auto_build:


override_dh_auto_install:
	dh_install gocontroll_demo /usr/bin
	dh_install gtk_demo /usr/bin/
	dh_install *.png /usr/share/go-gtk-demo/
	dh_install *.json /usr/share/go-gtk-demo/
	dh_install *.rules /etc/udev/rules.d/
	dh_install root /etc/pam.d/
